.container{
    border:1px solid rgb(216, 215, 215);
    padding:30px;

}
.formcontainer > div{
    margin:30px 30px;
    margin-left:80px;
}
.formcontainer > div > p{
    letter-spacing: 0.6px;
    margin-bottom:30px;
}